---
layout: page
title: Home
---
<!-- WORK EXPERIENCE -->

<section class="list">
    
    <!-- <img class="image" display="inline-block" src="/assets/images/porygon.png" width="30px" /> -->

    <center>
        <h2 id="work-experience"> <a style="color:black; text-decoration: none" href="#work-experience"> work
                experience </a> </h2> 
    </center>

    {% for post in site.posts %} {% if post.experience %}
    <div class="item" align="center">
        <a class="url"
            href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <img class="image" src="{{ post.image }}" width="160px"/>
            <h3 class="title">{{ post.title }}</h3>
            <div class="post-tags">
                {% for tag in post.tags %}
                {% if tag != "internship" and tag != post.company %}
                <a class="item">{{ tag }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <p> {{ post.description }} </p>
        </a>
    </div>
    <br/>
    {% endif %} {% endfor %}

</section>

<!-- FEATURED PROJECTS --> 

<section class="list">
    <center>
        <h2 id="featured-projects"> <a style="color:black; text-decoration: none" href="/projects">featured projects</a>
        </h2>
    </center>

    {% for post in site.posts %}
    {% if post.featured-projects %}
    <div class="item {% if post.star %}star{% endif %}" align="center">
        <a class="url"
            href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <img class="image" src="{{ post.image }}" width="50%" style="margin-bottom: 8px"/>
            <h3 class="title">{{ post.title }}</h3>
            <p style="margin-bottom: 0px;margin-top:4px"> {{ post.description }} </p>
            <div class="post-tags">
                {% for tag in post.tags %}
                <a class="item">{{ tag }}</a>
                {% endfor %}
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</section>


<!-- BLOG HIGHLIGHTS -->

<section class="list">
    <center>
        <h2 id="blog-highlights"> <a style="color:black; text-decoration: none" href="/blog">blog highlights</a>
        </h2>
    </center>

    {% for post in site.posts %}
    {% if post.blog-highlights %}
    <div class="item {% if post.star %}star{% endif %}" align="center">
        <a class="url"
            href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <img class="image" src="{{ post.image }}" width="50%" style="margin-bottom: 8px" loop=infinite/>
            <h3 class="title">{{ post.title }}</h3>
            <p style="margin-bottom: 0px;margin-top:4px"> {{ post.description }} </p>
            <div class="post-tags">
                {% for tag in post.tags %}
                <a class="item">{{ tag }}</a>
                {% endfor %}
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</section>

<br />