---
layout: page
title: Projects
---

<hr />
<center>
	<h2 id="project"> <a style="color:black; text-decoration: none" href="/projects">not-so-personal projects</a>
	</h2>
</center>
<br class=porygon-line/>
<p align="center">
	<img class="porygonz" src='/assets/images/porygonz.png'>
</p>


<p align="center">
    Here's to the open-sourced, buzzword-plagued, hackathon-contrived projects I've
    been working on. Subpar code quality not indicative of employers.
</p>
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
